[Desktop Entry]
Name=DenpaMemo
Comment=An app to manage and analyze data of Denpa people
Exec=denpa_memo
Icon=com.karasu256.denpamemo
Terminal=false
Type=Application
Categories=Utility;
